      <div class="row">
        <div class="col-md-4 post-title">
          <h2>Photography</h2>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-6">
              <a href="/img/full-size/pole+water.jpg"><img src="/img/reduced-size/pole+water.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
              <a href="/img/full-size/canoes+water.jpg"><img src="/img/reduced-size/canoes+water.jpg" alt="" class="img-responsive"></a>
            </div>
          </div>

          <hr>

          <div class="row"> 
            <div class="col-sm-4">
              <a href="/img/full-size/img_01_trees.jpg"><img src="/img/reduced-size/img_01_trees.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="col-sm-4">
              <a href="/img/full-size/img_03_tree+field.jpg"><img src="/img/reduced-size/img_03_tree+field.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="col-sm-4">
              <a href="/img/full-size/img_06_sculpture.jpg"><img src="/img/reduced-size/img_06_sculpture.jpg" alt="" class="img-responsive"></a>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-sm-6">
              <a href="/img/full-size/img_04_intersection.jpg"><img src="/img/reduced-size/img_04_intersection.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
              <a href="/img/full-size/img_02_trees+water.jpg"><img src="/img/reduced-size/img_02_trees+water.jpg" alt="" class="img-responsive"></a>
            </div>
          </div>

          <hr>

           <div class="row">
            <div class="col-sm-6">
              <a href="/img/full-size/img_05_building.jpg"><img src="/img/reduced-size/img_05_building.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
              <a href="/img/full-size/img_07_trees.jpg"><img src="/img/reduced-size/img_07_trees.jpg" alt="" class="img-responsive"></a>
            </div>
          </div>
        </div>
      </div>