      <div class="row">
        <div class="col-md-4 post-title">
          <h2>Illustration</h2>
        </div>
        <div class="col-md-8">  
          <div class="row">     
            <div class="col-md-4">
              <a href="/img/full-size/circe-doodle.png"><img src="/img/reduced-size/circe-doodle.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="col-md-4">
              <a href="/img/full-size/cyclops-doodle-thick-lines.png"><img src="/img/reduced-size/cyclops-doodle-thick-lines.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="col-md-4">
              <a href="/img/full-size/odysseus-doodle.png"><img src="/img/reduced-size/odysseus-doodle.jpg" alt="" class="img-responsive"></a>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4">
              <a href="/img/full-size/sirens.png"><img src="/img/reduced-size/sirens.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="col-md-4">
              <a href="/img/full-size/leavis.png"><img src="/img/reduced-size/leavis.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="col-md-4">
              <a href="/img/full-size/mean-mr-mustard.jpg"><img src="/img/reduced-size/mean-mr-mustard.jpg" alt="" class="img-responsive"></a>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-4">
              <a href="/img/full-size/t-s-eliot.png"><img src="/img/reduced-size/t-s-eliot.jpg" alt="" class="img-responsive"></a>              
            </div>
            <div class="col-md-4">
              <a href="/img/full-size/selfie-14-feb.png"><img src="/img/reduced-size/selfie-14-feb.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="col-md-4">
              <a href="/img/full-size/green-monster.jpg"><img src="/img/reduced-size/green-monster.jpg" alt="" class="img-responsive"></a>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-4"
              <a href="/img/full-size/munch-piggie.jpg"><img src="/img/reduced-size/munch-piggie.gif" alt="" class="img-responsive"></a>
            </div>
            <div class="col-md-4">
              <a href="/img/full-size/looper.jpg"><img src="/img/reduced-size/looper.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="col-md-4">
              <a href="/img/full-size/ossy.gif"><img src="/img/reduced-size/ossy.gif" alt="" class="img-responsive"></a>
            </div>
          </div>

          <hr>
        </div>
      </div>