<!DOCTYPE html>
<html lang="en"> 
  {% include head.html %}
  <body{% if page.class %} class="{{ page.class }}"{% endif %}>
    {% include header.html %}
    <div class="container">
      {{ content }}
      {% include footer.html %}
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>