<!DOCTYPE html>
<html lang="en">
  
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="jumbotron">
      <div class="container">
        	{{ content }}
        <p><a class="btn btn-primary btn-lg" href="#" role="button">{{ page.button_text }} &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      {% include home-widgets.html %}
      {% include footer.html %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>