---
layout: default
---
<div class="row row-buffer post-title">
  <div class="col-md-4">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li class="active">Data</li>
    </ol>
  </div>
  <div class="col-md-8">
    <img src="/img/reduced-size/{{ page.image }}" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-md-4 post-title">
    <h2>{{ page.title }}</h2>
    <h3>Categories</h3>
    <ul class="list-inline">
      {% for category in page.categories %}
        <li><a href="/blog/tags/{{category | first}}/"><small>{{ category }}</small></a></li>
      {% endfor %}
    </ul>
    <h3>Tags</h3>
    <ul class="list-inline">
      {% for tag in page.tags %}
        <li><a href="/blog/tags/{{tag | first}}/"><small>{{ tag }}</small></a></li>
      {% endfor %}
    </ul>
    </div>
  <div class="col-md-8 main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="columns">
        	<article>
        			{{ content }}
        	</article>
        </div>
      </div>
    </div>
  </div>
</div>